body {
  font-family: Garamond;
  background-color:black
   /* linear-gradient(to bottom right, black, white); */
}
#mynav{
  min-height: 56px;
}

h3 {
  color: black;
  font-size: 20px;
  margin-top: 3px;
  text-align: center;
}

#chatbox {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.image-title{
  text-align: center;
}

#userInput {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  margin-top: 60px;
}

/* #textInput {
   width: 1200px; 
   border: none;
  border-bottom: 3px solid #009688;
  font-family: monospace;
  font-size: 17px; 
} */


/* #buttonInput {
  padding: 3px;
  font-family: monospace;
  font-size: 17px;
} */

.userText {
  color: white;
  font-family: monospace;
  font-size: 17px;
  text-align: right;
  line-height: 30px;
  font-weight: 300;
}

.userText span {
  background-color: #0074D9;
  padding: 10px;
  border-radius: 2px;
}

.botText {
  color:black;
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color:#DDDDDD;
  font-weight: 300;
}

/* .botText span {
  background-color: #EF5350;
  padding: 10px;
  border-radius: 2px;
} */

.botimage {
  text-align: left;
  line-height: 30px;
  padding: 10px;
  border-radius: 2px;
}

.botimage span {
  padding: 10px;
  border-radius: 2px;
}

#tidbit {
  position:absolute;
  bottom:0;
  right:0;
  width: 300px;
}

/* input[type=submit] {
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 20px;
  font-weight: 700;
  background-color:  #0074D9;;
  text-decoration: none;
  margin: 4px 2px;
  
} */

