<!DOCTYPE html>
<html>
  <head>
    <title>image bot</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="stylesheet" type="text/css" href='../static/stylesheets/style.css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/10.0.0/markdown-it.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="icon" href="data:,">

  </head>
  <body>
    <!-- <h1>image bot</h1> -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mynav">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 >IMAGE BOT</h1>
        </div>  
      </div>
    </nav>
    <div>
      <div id="chatbox">
        <p class="botText">Hi!</p>
      </div>
      <div id="userInput">
        <input id="textInput" class="w3-input w3-border w3-round-large" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
        <input type="file" name="file[]" id="#uploadInput"  multiple>
      </div>
    
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          if(rawText=="upload"){
               $('#uploadInput').focus().trigger('click');
                var formdata = new FormData(); //FormData object
                var fileInput = document.getElementById('#uploadInput');
                //Iterating through each files selected in fileInput
                for (i = 0; i < fileInput.files.length; i++) {
                    //Appending each file to FormData object
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }
                //Creating an XMLHttpRequest and sending
                var xhr = new XMLHttpRequest();

                var url = encodeURI('/chat');
                xhr.open('POST', url,true);
                xhr.send(formdata); 
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        alert(xhr.responseText);
                    }
                }

          } else{
              $.get("/chat", { msg: rawText }).done(function(data) {
                if(data.type=="extract"){
                var botHtml = '<p class="botText">' + data.Answer + '</p>';
                $("#chatbox").append(botHtml);
                }
                //  else if(data.type=="tag"){}
      
                else {
                var botHtml = '<p class="botText">' + data.Answer + '</p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                if(data.Answer != 'not found'){
                rand ='_' + Math.random().toString(36).substr(2, 9);
                var imagehtml='<p class="botimage"><span>' + '<img src="../static/images/text-based/"width="500" height="500" id="imageBox">' +'<p class="image-title">'+data.image_name+'</p>'+ '</span></p>'
                $("#chatbox").append(imagehtml);
                document.getElementById('imageBox').id=rand
                document.getElementById(rand).src = "../static/images/text-based/"+data.image_name; 
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                          }

                } 

              });
           }
        }
        $("#textInput").keypress(function(e) {
            if(e.which == 13) {
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
          getBotResponse();
        })
      </script>
    </div>
  </body>
</html>